*{box-sizing: border-box;}
html,body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 100%;
    font-weight: 400;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100%;
}
#container {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.header {
    background-color: #0096D6;
    padding: 1rem;
    height:40px;
    width: 100%;
  }
  .header a{
    float:left;
    color:white;
    text-align: center;
    text-decoration: none;
    font-weight:normal;
    margin-left:8px;
  }
  .header-right {
    float: right;
    font-size:0.8rem;
    margin-top:0.1rem;
    margin-right: 30px;
    color:rgb(255, 255, 255);
  }
  .header a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  .header a.logo {
    font-size: 2rem;
    font-weight: bold;
  }
  h1{
    text-align: center;
    color: rgb(64, 66, 60);
    font-size: 100%;
  }
  h3{
   color: rgba(255, 0, 0, 0.678);
  }
  
  #section-wrapper{
    width:90%;
    margin: 0 auto;
    border-radius:1.5rem;
  }
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  .flex-container p{
    margin:0.8rem;
    font-size:90%;
  }
  .left-text-card{
    border-radius:0.5rem;
    text-align:center;
    width:70%;
    margin:0 auto;
    margin-bottom:10px;
    background-color: rgba(239, 239, 241, 0.924);
  }
  .left-text-card p{
    font-size: 100%;
    color: #0d1113;
  }
  .sign-in-form{
    margin:0 auto;
  }
  .top-text{

    font-size: larger;
    font-weight: bolder;
    padding-bottom: 30px;
    padding-top:30px;
  }
  .right-form-card{
    width: 30%;
  }

#form-container{
  background-color: rgba(239, 239, 241, 0.924);
  border-radius:1.5rem;
  width: 280px;
  font-size: small;
  font-weight: 500;
  overflow: hidden;
  margin:0 auto;
  position: relative;
}
.form{
  padding:30px;
  font-weight: 700;
}
.form-header{
  text-align:center;
  background-color: #0096D6;
  padding: 8px;
  margin:0;
  font-weight: 500;
  font-size: 140%;
  color: rgba(255,255,255);
}
.create-project{
  width: 40%;
}
.error{
  color: rgba(255, 0, 0, 0.719);
  font-size: 11px;
  margin-bottom: 3px;
}
.error.dashboard{
  font-size: 14px;
  padding:5px;
}
.input{
  margin-bottom: 10px;
  padding:8px;
  width:100%;
  font-weight: 700;
  border-radius: 1.5rem;
  border:1px solid  rgb(51, 49, 49);
}
.file{
  margin-bottom:20px;
  margin-top:20px;
}
.submit:hover{
  background-color: white;
  color: rgba(2, 3, 8, 0.644);
  border: 1px solid rgba(2, 3, 8, 0.644);
  cursor: pointer;
}
.signout-button:hover{
  background-color: white;
  color: rgba(2, 3, 8, 0.644);
  border: 1px solid rgba(2, 3, 8, 0.644);
  border-radius:1.5rem;
  cursor: pointer;
}
.submit{
font-weight:normal;
background-color: #0096D6;
border-radius:1.5rem;
border:none;
text-decoration: none;
padding: 10px 28px;
color:rgb(255, 255, 255);
margin-bottom: 10px;
display: inline-block;
width:100%;
font-size: 120%;
margin-top: 10px;
}
.projectSubmit{
  width:50%;
  font-size: 90%;
}
.signout-button{
  font-weight: normal;
  background-color: #464849da;
  color:rgb(255, 255, 255);
  border-radius:1.5rem;
  text-decoration: none;
  padding: 5px;
  border: 1px solid rgb(5, 5, 5);
}
.text-center{
  text-align: center;
  margin-top: inherit;
  font-size: 12px;
  margin-top:20px;
  font-weight: 600;
}
.text-center a{
  text-decoration:none;
  font-weight: 700;
  color:rgb(214, 0, 160);
}
#showAlert{
  visibility: hidden;
  width:50%;
  background-color: rgb(175, 241, 166);
  border: 1px solid rgb(26, 172, 7);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 1.5rem;
  padding: 0.6rem;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 50px;
  font-size:90%;
  margin-top: 15px;
}
#showAlert.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 1.5s 2.5s;
  animation: fadein 0.5s, fadeout 1.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 50px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 50px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
.spinner {
  margin: 10px auto;
  text-align: center;
  display:none;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #0096D6;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.actionNotification{
  padding: 0.5rem;
  background-color: #e97971;
  border: 1px solid rgb(231, 24, 9);
  color:rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 1.5rem;
  display: none;
  font-size: 13px;
}
.actionNotification.success {
  background-color: #9dff8e;
  color: black;
  border: 1px solid rgb(44, 148, 2);
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
table, th, td{
  width:70%;
  border: 1px solid #0096D6;
}
#hack{
    padding-bottom:30px;
}
#forgot-img{
  height:120px;
  width:120px;
  display:block;
  margin:auto;
}
footer
  {
  height:40px;
  background-color: #0096D6;
  width: 100%;
  color: white;
  text-align: center;
  margin-top:100rem;
  position: absolute;
  bottom: 0;
  }
  footer p{
    padding-top:10px;
    font-size:12px;
    font-weight:normal;
  }
  footer a{
    color: white;
    padding-top:10px;
    font-size:12px;
    text-align: center;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
span{
  color:rgb(214, 0, 160);
}
.actions{
  overflow: hidden;
  background-color: #0096D6;
  border-radius: 1.5rem;
}
.actions button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
  font-size: 15px;
  color:white;
}
.actions button:hover {
  background-color: #ddd;

}
.actions button.active {
  background-color: rgb(0, 0, 0);
} 
.actionContent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  border-radius: 1.5rem;
  background-color: rgba(239, 239, 241, 0.924);
}
.bigger-font{
  font-size:120%;
}
@media (min-width: 576px) {
  .header {
    padding: 1rem;
    height:50px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:14px;
  }
  .header a.logo {
    font-size: 1.2rem;
  }
 .header-right {
    font-size:0.8rem;
    margin-top:0.25rem;
  }
  .left-text-card{
    margin-right:10px;
  }

}
@media (min-width : 768px) {
  .header {
    padding: 1rem;
    height:50px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:16px;
  }
  .header a.logo {
    font-size: 1.4rem;
  }
 .header-right {
    font-size:0.8rem;
    margin-top:0.4rem;
  }
  .bottom{
    width:100%;
    padding-bottom:0px;
  }
  #form-container{
    width: 320px;
  }
  .left-text-card{
    margin-right:10px;
  }
}
@media (min-width : 992px) {
  .header {
    padding: 1rem;
    height:50px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:18px;
  }
  .header a.logo {
    font-size: 1.6rem;
  }
 .header-right {
    font-size:0.8rem;
    margin-top:0.5rem;
  }
  .flex-container{
    flex-direction: row;
  }
  h1{
    color: rgb(64, 66, 60);
    font-size: 160%;
  }
  .card{
    margin:2%;
  }
  .bottom{
    width:100%;
    padding-bottom:0px;
  }
  #form-container{
    width: 320px;
  }
  .left-text-card{
    margin-right:10px;
  }
}
@media (min-width : 1200px) {
  .header {
    padding: 1rem;
    height:60px;
    width: 100%;
  }
  .header a{
    font-weight:normal;
    margin-left:20px;
  }
  .header a.logo {
    font-size: 1.8rem;
  }
 .header-right {
    font-size:0.9rem;
    margin-top:0.7rem;
    font-weight: bold;
  }
  .flex-container{
    flex-direction: row;
  }
  h1{
    color: rgb(64, 66, 60);
    font-size: 180%;
  }
  #section-wrapper{
    padding-bottom:10px;  
  }
  .bottom{
    width:100%;
    padding-bottom:0px;
  }
  #form-container{
    width: 320px;
  }
  .left-text-card{
    margin-right:10px;
  }
}
