<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="This is rekuisition management system">
  <meta name="Keywords" content="rekuisition management, register your company here">
  <meta name="author" content="kabaki.antony@gmail.com">
  <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet">
  <!-- <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="48x48"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rms-main.css') }}">
  <script defer src="{{ url_for('static', filename='js/signout.js')}}"></script>
  <script defer src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
  
  {% if title %}
    <title> RMS / {{ title }} </title>
    {% else %}
    <title>RMS</title>
    {% endif %}
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <div class="header">
                    <a href="#" class="logo">RMS</a>
                    <div class="header-right">
                        {% if session %}
                        Hi {{ username }}
                        <input type="button" class="signout-button" id="signout-button" value="Sign out">                    
                        {% else %}
                        <a href="{{ url_for('rms._signin_ui')}}">Sign In</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <div class="alert" id="showAlert"></div>
        <div id="section-wrapper" class="index-wrapper">
            <div class="error dashboard" id="emailError"></div>
            <div class="actionNotification" id="error"></div>
            <div class="actionNotification success" id="success"></div>
            <div class="spinner" id="showLoader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div> 
            {% if role =='Admin' %}
            <script type="module" src="{{ url_for('static', filename='js/adminActions.js')}}"></script>
              <div class="actions active">
                <button class="action-links" onclick="openAction(event, 'uploadMasterFile')">Master File</button>
                <button class="action-links" onclick="openAction(event, 'viewEmployees')">View Employees</button>
                <button class="action-links" onclick="openAction(event, 'createUsers')">Create User</button>
                <button class="action-links" onclick="openAction(event, 'suspendUsers')">Suspend User</button>
                <button class="action-links" onclick="openAction(event, 'reactivateUsers')">Reactivate User</button>
                <button class="action-links" onclick="openAction(event, 'createProject')">Create Project</button>
                <button class="action-links" onclick="openAction(event, 'listProjects')">List Projects</button>
                <!-- <button class="action-links" onclick="openAction(event, 'manageProjects')">Manage Projects</button> -->
              </div>
              <div id="createProject" class="actionContent">
                <h3>Create a new project here</h3>
                <p>It's easy just enter a name and the dates you expect the project to run from-to</p>
                <form class="form create-project" id="rmsForm" method="POST">
                  <label>Project name</label>
                  <input type="text" class="input project" id="rmsProject" name="rmsProject" required>
                  <label>Start Date</label>
                  <input type="date" class="input project" id="dateFrom" name="dateFrom" required>
                  <label>End Date </label>
                  <input type="date" class="input project" id="dateTo" name="dateTo" required>
                  <input type="submit" id="submit" class="submit projectSubmit" value="Create project">
                </form>
              </div>
              <div id="viewEmployees" class="actionContent">
                 <h3>Employees list</h3>
                 <p>Shows a list of all company employees.</p>
                 <hr class="authorizerTab">
                  <div><table class="filesAuthorizer">
                  <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile No.</th>
                  </tr>
                </table></div>
                 <div id="employeesView" class="employeesView"></div>
                 <input type="submit" id="fetchButton" class="submit view-employees" value="List Employees">
              </div>
              <div id="uploadMasterFile" class="actionContent">
                <h3>Upload the employee master file</h3>
                <ul>
                  <li><p>The file should have the following format and be an excel file.</p></li>
                  <li><p>Note the <span>Id</span> and <span>companyId</span> columns will be auto filled, leave them blank.</p></li>
                  <hr>
                  <table class="excelFormat">
                    <tr>
                      <th>id</th>
                      <th>companyId</th>
                      <th>firstname</th>
                      <th>lastname</th>
                      <th>mobile</th>
                      <th>email</th>
                    </tr>
                    <tr>
                      <td>auto filled</td>
                      <td>auto filled</td>
                      <td>john</td>
                      <td>doe</td>
                      <td>+254712***678</td>
                      <td>john.doe@example.com</td>
                    </tr>
                  </table>
                  <li><p>All the other fields are mandatory.</p></li>
                </ul> 
                <form class="form create-project" id="rmsEmployeeFile" method="POST">
                  <label>Master file</label>
                  <input type="file"  class="file" id="employeeFile" name="employeeFile" accept=".xlsx, .xls" required/>
                  <input id="submit" class="submit projectSubmit" type="submit" value="Upload file">
                </form>    
              </div>
              <div id="createUsers" class="actionContent">
                <h3>Create system user here</h3>
                <p>Easy just fill the simple form below, user will recieve an email with further instructions.</p>
                <form  class="form create-project" id="rmsRegForm" method="POST">
                  <label >Select role </label>
                  <select class="input project" name="rmsRole" id="rmsRole" required>
                    <option value="Creator">Creator</option>
                    <option value="Authorizer">Authorizer</option>
                  </select>
                  <label >Email </label>
                  <input type="email" class="input project" id="rmsEmail" name="rmsEmail" required>
                  <input type="hidden" class="input" id="rmsCompanyId" name="rmsCompanyId" value="{{ companyId }}" required>
                  <input type="hidden" id="rmsActive" name="rmsActive" value="true">
                  <input type="submit" id="submit" class="submit projectSubmit" value="Create user">
                 </form>
              </div>
              <div id="suspendUsers" class="actionContent">
                <h3>Suspend system user</h3>
                <p>Mark system users account as suspended.</p>
                <p>Just enter their email address below.</p>
                <form  class="form create-project" id="rmsSuspendForm" method="POST">
                  <label >User email</label>
                  <input type="email" class="input" id="rmsSuspendEmail" name="rmsSuspendEmail" required>
                  <input type="submit" id="submit" class="submit projectSubmit" value="Suspend user">
                 </form>
              </div>
              <div id="reactivateUsers" class="actionContent">
                <h3>Reactivate system user</h3>
                <p>Reactivate a user account that had been previously suspended.</p>
                <p>Just enter their email address below.</p>
                <form  class="form create-project" id="rmsReactivateForm" method="POST">
                  <label >User email</label>
                  <input type="email" class="input" id="rmsReactivateEmail" name="rmsReactivateEmail" required>
                  <input type="submit" id="submit" class="submit projectSubmit" value="Reactivate user">
                 </form>
              </div>
              <div id="listProjects" class="actionContent">
                <h3>All your projects</h3>
                <p>Shows a list of all projects active/closed</p>
                <hr class="authorizerTab">
                  <div><table class="filesAuthorizer">
                  <tr>
                  <th>Project Name</th>
                  <th>Date From</th>
                  <th>Date To</th>
                  <th>Status</th>
                  </tr>
                </table></div>
                <div id="projectsView" class="projectsView"></div>
                <input type="submit" id="fetchProjectsButton" class="submit view-employees" value="List Projects">
              </div>
              <div id="manageProjects" class="actionContent">
                <h3>Manage Projects</h3>
                <p>Manage Projects.</p>
              </div>
            {% elif role =='Creator' %}
            <script type="module" src="{{ url_for('static', filename='js/creatorActions.js')}}"></script>
            <input type="hidden" class="input" id="rmsCompanyId" name="rmsCompanyId" value="{{ companyId }}" required>
            <div class="actions active">
                <button class="action-links" onclick="openAction(event, 'UploadBudget')">Budget</button>
                <button class="action-links" onclick="openAction(event,'UploadPayment')">Payment</button>
                <button class="action-links" onclick="openAction(event, 'ViewFiles')">File Actions</button>
              </div>
              <div id="UploadBudget" class="actionContent">
                <h3>Upload a budget for a given project for authorization.</h3>
                <p>Note the file must be an excel and in the below format, budget line items are at your company's discretion</p>
                <p>But the <span>Budget Line</span>, <span>Rate</span> and <span>Total Amount</span> must be there.</p>
                <p>The system will rename the file into the following format :<span>Company_Project_Filetype_dateAndTime.xlsx</span></p>
                <table class="excelFormat">
                  <tr>
                    <th>Budget Line</th>
                    <th>Rate</th>
                  </tr>
                  <tr>
                    <td>eg Local Transport- Urban</td>
                    <td>300</td>                    
                  </tr>
                  <tr>
                    <td>eg Interviewers Allowance</td>
                    <td>1200</td>                    
                  </tr>
                  <tr>
                    <td>Total Amount</td>
                    <td>1500</td>                    
                  </tr>
                </table>
                <form class="form create-project" id="rmsBudgetForm" method="POST">
                  <input type="hidden" class="input" id="rmsCompanyId" name="rmsCompanyId" value="{{ companyId }}" required>
                  <label >Select project </label>
                  <select class="input project dropdown"  id="rmsCreatorBudgetTag" required>
                  </select>
                  <label>Budget file</label>
                  <input type="file" class="file" id="budgetFile" name="budgetFile" accept=".xlsx, .xls" required/>
                  <input type="submit" id="submit" class="submit projectSubmit" value="Send to authorizer">
                </form>
              </div>
              <div id="UploadPayment" class="actionContent">
                <h3>Upload a payment file for a given project for authorization.</h3>
                <p>Select the project for which the payment file is for.</p>
                <p>Note the payment file must be in the below format.</p>
                <p>The system will rename the file into the following format :
                  <span>Company_Project_Filetype_dateAndTime.xlsx</span></p>
                <table class="excelFormat">
                  <tr>
                    <th>fullname</th>
                    <th>mobile</th>
                    <th>email</th>
                    <th>to pay</th>
                  </tr>
                  <tr>
                    <td>john doe</td>
                    <td>+2547*****678</td>
                    <td>john.doe@example.com</td>
                    <td>1300</td>
                  </tr>
                  <tr>
                    <td>Total Amount</td>
                    <td></td>
                    <td></td>
                    <td>1300</td>
                  </tr>

                </table>
                <form class="form create-project" id="rmsPaymentForm" method="POST">
                  <input type="hidden" class="input" id="rmsCompanyId" name="rmsCompanyId" value="{{ companyId }}" required>
                  <label >Select project </label>
                  <select class="input project dropdown" id="rmsCreatorPaymentTag" placeholder="Select Project" required>
                  </select>
                  <label>Payment file</label>
                  <input type="file" class="file" id="paymentFile" name="paymentFile" accept=".xlsx, .xls" required/>
                  <input type="submit" id="submit" class="submit projectSubmit" value="Send to authorizer">
                </form>
              </div>
              <div id="ViewFiles" class="actionContent">
                <h3>File actions.</h3>
                <p>Select a project below to list it's files.</p>
                <p><span>Only the pending files for the project will be listed.</span></p>
                <select class="input project dropdown"  id="rmsCreatorSelectProject" required>
                </select>
                <hr class="authorizerTab">
                  <div><table class="filesAuthorizer">
                  <tr>
                  <th>File ID</th>
                  <th>File Type</th>
                  <th>File Status</th>
                  <th>File Amount</th>
                  <th>Date of Upload</th>
                  <th>File</th>
                  </tr>
                </table></div>
                <div id="listFiles" class="listFiles"></div>
                <div>
                  <input type="submit" id="" class="submit view-employees authorizerButtons" value="Withdraw">
                  <input type="submit" id="" class="submit view-employees authorizerButtons" value="Edit">
                </div>
              </div>

            {% elif role == 'Authorizer' %}
            <script type="module" src="{{ url_for('static', filename='js/authorizerActions.js')}}"></script>
            <div class="actions active">
            <button class="action-links" onclick="openAction(event, 'authorizeFiles')">File Actions</button>
            <button class="action-links" onclick="openAction(event, 'authorizerCreateProject')">Create Project</button>
            <button class="action-links" onclick="openAction(event, 'authorizerListProjects')">List Projects</button>
            <button class="action-links" onclick="openAction(event, 'authorizerManageProjects')">Manage Projects</button>
          </div>
            <div id="authorizeFiles" class="actionContent">
              <input type="hidden" class="input" id="rmsCompanyId" name="rmsCompanyId" value="{{ companyId }}" required>
              <h3>Authorize or Reject Budget/Payment</h3>
              <p>To list files select the file type (Budget/Payment) below.</p>
              <p>Preview the budget/payment file  to authorize or reject it with notes.</p>
              <p><span>Only the pending files for different projects for your company will be listed.</span></p>
              <select class="input fileType" name="rmsFileType" id="rmsFileType" required>
                <option value="none" selected disabled>
                  Select file type
                </option>
                <option value="budget">Budget</option>
                <option value="payment">Payment</option>
              </select>
              <hr class="authorizerTab">
              <div><table class="filesAuthorizer">
                <tr>
                <th>File Id</th>
                <th>Project</th>
                <th>File Status</th>
                <th>File Amount</th>
                <th>Date of Upload</th>
                <th>File</th>
                </tr>
              </table></div>
              <div id="authorizerViewFiles" class="authorizerViewFiles"></div>
              <textarea id="authorizationNote" name="authNotes" rows="3" cols="50" maxlength="200" placeholder="Give a short explanation for rejection not more than 200 characters or just indicate 'OK' if authorized"></textarea>
              <div>
                <input type="submit" id="authorizeFiles" class="submit view-employees authorizerButtons" value="Authorize">
                <input type="submit" id="rejectBudget" class="submit view-employees authorizerButtons" value="Reject">
              </div>
            </div>
            <div id="authorizerCreateProject" class="actionContent">
              <h3>Create a new project here</h3>
              <p>It's easy just enter a name and the dates you expect the project to run from-to</p>
              <form class="form create-project" id="rmsAuthorizerCreateForm" method="POST">
                <label>Project name</label>
                <input type="text" class="input project" id="rmsAuthorizerCreateProject" name="rmsProject" required>
                <label>Start Date</label>
                <input type="date" class="input project" id="authorizerCreateDateFrom" name="dateFrom" required>
                <label>End Date </label>
                <input type="date" class="input project" id="authorizerCreateDateTo" name="dateTo" required>
                <input type="submit" id="submit" class="submit projectSubmit" value="Create project">
              </form>
            </div>
            <div id="authorizerListProjects" class="actionContent">
              <h3>List Projects</h3>
              <p>List all active projects.</p>
            </div>
            <div id="authorizerManageProjects" class="actionContent">
              <h3>Manage Projects</h3>
              <p>Manage Projects.</p>
            </div>
            {% endif %}
            <h4 class="text-center bigger-font" id="profileInstruction">Click on any option to carry out the task.</h4>
        </div>
    </div>
</body>
</html>
