<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="This is rekuisition management system">
  <meta name="Keywords" content="rekuisition management, register your company here">
  <meta name="author" content="kabaki.antony@gmail.com">
  <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet">
  <!-- <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="48x48"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rms-main.css') }}">
  <script type="module" src="{{ url_for('static', filename='js/forgot.js')}}"></script>
  {% if title %}
  <title> BT / {{ title }} </title>
  {% else %}
  <title>BT</title>
  {% endif %}
</head>
<body>
    <div id="container">
        <header>
            <nav>
              <div class="header">
                <a href="/" class="logo">BT</a>
                <div class="header-right">
                    <a href="/signin">Sign In</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
            </nav>
          </header>
        <div id="section-wrapper">
          <div class="alert" id="showAlert"></div>
            <h1>Enter your email below & we will send you reset instructions.</h1>
            <div class="flex-container">
                <div id="form-container" class="forgot-form">
                    <h2 class="form-header">Forgot your passsword ?</h2>
                    <img src="{{ url_for('static', filename='images/padlock.png') }}" alt="Forgot Img" id="forgot-img">
                    <div class="text-center" id="reset-text-center">Enter your email below</div>
                    <form  class="form" id="rmsForm" method="POST">
                    <div class="error" id="emailError"></div>
                    <label >Email</label>
                    <input type="email" class="input" id="rmsEmail" name="rmsEmail" required>
                    <div class="spinner" id="showLoader">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                    <input type="submit" id="submit" class="submit" value="Send reset instructions">
                   </form>
                </div>         
            </div>
        </div>
    <div id="signup-success"></div>
    <footer>
        <p>&copy; BT 2021&nbsp;&nbsp;<a href="https://twitter.com/kabakikiarie">Find BT Technologies Admin here</a></p>
      </footer>
      <div id="hack">.</div>
    </div>
</body>
</html>