<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="This is rekuisition management system">
  <meta name="Keywords" content="rekuisition management, register your company here">
  <meta name="author" content="kabaki.antony@gmail.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="48x48"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rms-main.css') }}">
  <script type="module" src="{{ url_for('static', filename='js/signin.js')}}"></script>
  {% if title %}
    <title> RMS / {{ title }} </title>
    {% else %}
    <title>RMS</title>
    {% endif %}
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <div class="header">
                    <a href="/" class="logo">RMS</a>
                    <div class="header-right">
                        <a href="/" id="sign-in" class="sign-in">Sign Up</a>
                        <a href="/fe/contact">Contact Us</a>
                    </div>
                </div>
            </nav>
        </header>
        <div id="section-wrapper" class="index-wrapper">
            <div class="alert success" id="show-alert"></div>
            <h1>Please sign in here  to use the system</h1>
            <div class="flex-container">
                <div class="right-form-card   sign-in-form">
                    <div id="form-container">
                        <h2 class="form-header">Sign In here</h2>
                        <form  class="form" id="rmsForm" method="POST">
                            <div class="error" id="emailError"></div>
                            <label >Email</label>
                            <input type="email" class="input" id="rmsEmail" name="rmsEmail" required>
                            <div class="error" id="passwordError"></div>
                            <label >Password</label>
                            <input  type="password" class="input" name ="rmsPassword" id="rmsPassword" required>
                            <input type="submit" id="submit" class="submit" value="Sign in">
                            <div class="text-center"><a href="/fe/forgot">Forgot password ?</a></div>
                            <div class="text-center">No account have the admin create one for you OR <a href="/" id="bottom-sign-in">Sign up your company</a></div>
                       </form>
                      </div>            
                </div>
            </div>
        </div>
        <div id="hack">.</div>
        <footer>
            <p>&copy; RMS 2020&nbsp;&nbsp;<a href="https://twitter.com/kabakikiarie">Find RMS Admin Here</a></p>
          </footer>
    </div>
</body>
</html>
